node_modules
.env
.env.local
.env.production
dist
build
.next
.turbo
*.log
.DS_Store
coverage
prisma/migrations/*.sql.bak
apps/mobile/.expo
apps/mobile/android
apps/mobile/ios
*.apk
*.aab
*.ipa
*.keystore
*.jks
